{% extends "base.html" %}

{% block content %}

<h1>Hello Luke and Matt!</h1>
<hr>
{% for model in model %}
<div>
    <p>
        Class: {{ model.class.class_name }}<br>
        Race: {{ model.races.race_name }}<br>
        Strength: {{ model.strength }}<br>
        Constituion: {{ model.constitution }}<br>
        Dexterity: {{ model.dexterity }}<br>
        Intelligence: {{ model.intelligence }}<br>
        Wisdom: {{ model.wisdom }}<br>
        Charisma: {{ model.charisma }}<br>
        <a href="{{ url_for('viewspecific', model_id=model.id) }}">View alone</a>
    </p>
</div>
{% endfor %}

{% endblock %}